.input-div {
    padding: 10px;
    /* background-color: lightblue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    padding: 10px 20px;
    border-radius: 8px;
    border: 2px solid lightblue;
}

#qr-div {
    /* background-color: red; */
    width: 320px;
    height: 320px;
    margin: 1rem auto;
}

button {
    padding: 7px;
    cursor: pointer;
}